body {
    background-color: rgb(94, 85, 219);
}

.nav-bar {
    background-color: rgb(36, 56, 145);
    padding: 1rem;
    margin: auto;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #000;
    padding: 1rem;
}

.container {
    width: 50%;
    margin: auto;
}

.angle-input, .side-input {
    width: 100%;
    margin-bottom: 1rem;
}

#is-triangle-btn, #area-btn, #hypotenuse-btn, #submit-answer-btn {
    background-color: rgb(36, 56, 145);
    padding: 0.5rem 1rem;
    border-radius: 10%;
    border-color: aliceblue;
}

.quiz-form {
    width: 90%;
    margin: auto;
}

.question-container {
    padding-bottom: 1rem;
}

#submit-answer-btn {
    margin-left: 4rem;
}

#output {
    padding-top: 1rem;
    font-weight: bold;
    font-style: italic;
}

footer {
    text-align: center;
  }
  
  footer p {
    font-size: large;
    text-align: center;
  }
  
  .footer-list {
    margin: 1rem;
  }

  .links {
    text-decoration: none;
    color: #000;
    padding: 1rem;
  }
  
  a, li {
    display: inline;
    color: #fff;
  }